@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Merriweather:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Oswald:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head {
    height: 70vh;
    width: 100%;
    background-color: #101010;
    background-size: cover;
    background-position: center;
    font-family: 'Oswald', sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.port {
    color: #fff;
    letter-spacing: 1px;
    font-size: 4rem;
    cursor: pointer;
}
.head span {
    color: crimson;
}

nav ul li {
    display: inline-block;
    padding: 2rem 3rem;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: crimson;
    transition: all .5s;
}

.btn {
    background-color: crimson;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: all .5s;
}
.btn:hover {
    transform: scale(1.2);
    background-color: transparent;
    color: #fff;
    border: 1px solid crimson;
  padding: 13px 25px;
    border-radius: 20px;
}


/* content */
.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1 {
    color: #ebeebe;
    margin: 20px 0px 20px;
    font-size: 60px;
}
.content span {
    color: crimson;
}
h3 {
    color: whitesmoke;
    font-family: 25px;
    margin-bottom: 50px;
}
h4 {
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 20px;
}
.hr {
    width: 90%;
    margin: 0 auto;
}

/* about section */
.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
    ont-family: 'Merriweather', serif;
}
.about img {
    height: auto;
    width: 500px;
    box-shadow: 1px 2px 10px whitesmoke;
    border-radius: 8px;
}
.about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text {
    width: 550px;
}
.text h2 {
    color: #fff;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.text h5 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
h5 span {
    color: crimson;
}
.text p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 40px;

}
.text ul {
    list-style:none;
    font-size: 17px;
}
.text ul li {
    color: whitesmoke;
    line-height: 25px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.skills {
    margin: 30px auto;
    color: crimson;
    border: 2px solid  crimson;
    max-width: 75px;
    opacity: 1;
}

.button {
    background-color: crimson;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    text-transform: capitalize;
    margin-top: 50px;
  margin: 15px;
}
.button:hover {
    background-color: transparent;
    border: 2px solid crimson;
    cursor: pointer;
  padding: 13px 25px;
    border-radius: 20px;
}

.button-p {
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 2px solid crimson;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    text-transform: capitalize;
    margin-top: 50px;
}
.button-p:hover {
    background-color: crimson;
    border: 2px solid transparent;
    cursor: pointer;
  padding: 13px 25px;
    border-radius: 20px;
}


/* } service section */
.services {
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;

}
.title h2 {
    color: #fff;
    /* width: 130px; */
    margin: 30px auto;
    text-align: center;
    font-size: 60px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card {
    height: 250px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 25px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow:  0 8px 15px #fff;

}
.card:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: .4s;
    box-shadow:  0 5px 6px crimson;
}

.card i {
    color: crimson;
    font-size: 50px;
    display: block;
    align-items: center;
    margin: 25px 0px;
}

.card h5 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 30px;
    font-weight: bold;
}

.card .button-two {
    background-color: crimson;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
    text-transform: capitalize;
}
.card .button-two:hover {
    background-color: transparent;
    border: 2px solid crimson;
    cursor: pointer;
  padding: 13px 25px;
    border-radius: 20px;
}


/*project section-----  */
.contact-me {
    width: 100%;
    height: 100vh;
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}
.contact-me h1 {
    color: #fff;
    text-transform: capitalize;
}

.pro {
    margin: 30px auto;
    color: crimson;
    border: 2px solid  crimson;
    max-width: 75px;
    opacity: 1;
}

.contact-me h4 {
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.contact-me i {
    color: crimson;
    font-size: 60px;
    display: block;
    margin-bottom: 35px;
}


.contact-me ul {
    list-style:none;
    font-size: 17px;
    padding: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
    background-color: whitesmoke;
    border-radius: 30px;
    box-shadow:  0 8px 10px whitesmoke;
}
.contact-me ul li {
    letter-spacing: 1px;
    margin: 10px 10px;
   
}

.contact-me ul li a {
    color: #191919;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    box-shadow:  0 11px 26px #101010;
    padding: 13px 15px;
    border-radius: 15px;
    text-transform: capitalize;
 }

 .contact-me ul:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: .4s;
    box-shadow:  0 8px 15px #fff;
 }
 .contact-me ul li:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: .4s;
    box-shadow:  0 11px 26px #fff;
 }

.contact-me .button-three {
    background-color: crimson;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    text-transform: capitalize;
    margin-top: 50px;
}
.contact-me .button-three:hover {
    background-color: transparent;
    border: 2px solid crimson;
    cursor: pointer;
  padding: 13px 25px;
    border-radius: 20px;
  
}

.line {
  width: 100%;
  color: #fff;
}

/* footer */
footer {
    position: relative;
    width: 100%;
    height: 200px;
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}
.socials {
   display: flex;
   justify-content: space-between;
}
.socials a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: crimson;
    border-radius: 50%;
    margin: 22px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}
.socials a:hover {
    transform: scale(1.3);
    transition: .3s;
    background-color: transparent;
    border: 1px solid crimson;
}

footer p {
    position: absolute;
    color: crimson;
    bottom: 35px;
    font-size: 15px;
}
footer p span {
    color: whitesmoke;

}
footer p:hover {
    cursor: pointer;
}

@media (max-width: 992px) {
    .head {
        height: 20vh;
    }
    .head h1 {
        display: none;
    }
    .content {
        display: none;
    }
    
    
}